<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<div class="col-sm-4">
    <h2 class="mt-4" th:text="#{fragments.contact.header}"></h2>
    <address>
        <strong th:text="#{fragments.contact.name}"></strong>
        <br>
        <span th:text="#{fragments.contact.adress.street}"></span>
        <br>
        <span th:text="#{fragments.contact.adress.city}"></span>
    </address>
    <address>
        <span title="Phone" th:text="#{fragments.contact.phone.header}"></span>
        <span th:text="#{fragments.contact.phone.number}"></span>
        <br>
        <span title="Email" th:text="#{fragments.contact.email.header}"></span>
        <a href="mailto:#" th:text="#{fragments.contact.email.adress}"></a>
    </address>
</div>