<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<footer class="footer">
    <span th:text="#{fragments.footer.copyright}"></span>
    <a class="text-white" href="/" th:text="#{fragments.footer.name}"></a>
    <br>
    <span th:text="#{fragments.footer.tags}"></span>
</footer>