<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="logo" src="/images/logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="navbarLinks">
                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs" th:text="#{fragments.navbar.about}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news" th:text="#{fragments.navbar.news}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalog" th:text="#{fragments.navbar.catalog}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" th:text="#{fragments.navbar.contact}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link fas fa-sign-in-alt" href="/login"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link fas fa-sign-out-alt" href="/logout"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>