body {
    padding-top: 54px;
    font-family: "MedievalSharp", fantasy;
    background-color: #1b1e21;
    color: white;
}
body > .container {
    margin-top: 40px;
}
.big-font {
    font-size: 100px;
}
.footer {
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #343a40;
    margin-top: 25px;
}
.business-header {
    height: 50vh;
    min-height: 300px;
}
.business-header.main{
    background: url('/images/varan.jpg') center center no-repeat scroll;
    background-size: cover;
}
.business-header.contact{
    background: url('/images/wezuwiusz-panorama.jpg') center center no-repeat scroll;
    background-size: cover;
}
.logo {
    max-height: 50px;
}
.opinion-author {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
.custom-contact-form {
    margin-top: 24px;
}
.news {
    border-bottom: 1px solid #ffffff;
    padding: 20px;
}
.news:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.centered-container {
    width: 50%;
    text-align: center;
}
.centered-container .custom-login-form {
    border-bottom: 1px solid #ffffff;
    padding: 10% 0;
}
.centered-container .custom-login-form .invalid-login {
    font-size: 20px;
    color: #FF1C19
}
.register-button-form {
    margin: 5% auto 10%;
}
.centered-container .custom-register-form {
    margin: 10% auto;
}
.nav-link.fas {
    vertical-align: text-top;
}
.flip {
    margin-bottom: 30px;
    -webkit-perspective: 800px;
}
.flip:last-child {
    margin-bottom: 0;
}
.flip .card {
    position: relative;
    background-color: #47484a;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card-body {
    background-color: #47484a;
}
.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
}
.flip .card .face {
    height: 580px;
    border: 1px solid #ffffff;
    border-radius: inherit;
    z-index: 2;
    -webkit-backface-visibility: hidden;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
}
.flip .card .back {
    -webkit-transform: rotatey(-180deg);
}