<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/pompeje.jpg" width="100%">
        </div>
        <div class="col-sm-4">
            <img src="/images/wezuwiusz.jpg" width="100%">
        </div>
        <div class="col-sm-4">
            <img src="/images/wezuwiusz2.jpg" width="100%">
        </div>
        <div class="col-sm-12">
            <h2 class="mt-4 text-center" th:text="#{aboutUs.header}"></h2>
            <p class="text-center" th:text="#{aboutUs.first}"></p>
            <br>
            <p class="text-center" th:text="#{aboutUs.second}"></p>
        </div>
    </div>
    <div class="text-center">
        <video width="1000" controls>
            <source src="/images/film.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>