<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container">
    <h1 class="my-4 text-center" th:text="${dragon.getName()}"></h1>
    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" th:src="#{imageSrc(${dragon.getImageName()})}" alt="Dragon image">
        </div>
        <div class="col-md-4">
            <h3 class="my-3" th:text="#{catalog.dragonDescriptionHeader}"></h3>
            <p th:text="${dragon.getDescription()}"></p>
            <h3 class="my-3" th:text="#{catalog.dragonSpecificationHeader}"></h3>
            <ul>
                <li th:text="#{catalog.class(${dragon.getDragonClass()})}"></li>
                <li th:text="#{catalog.color(${dragon.getColor()})}"></li>
                <li th:text="#{catalog.predaceousness(${dragon.getPredaceousness()})}"></li>
                <li th:text="#{catalog.size(${dragon.getSize()})}"></li>
                <li th:text="#{catalog.isFire(${dragon.isFire()}?1:0)}"></li>
                <li th:text="#{catalog.age(${dragon.getAge()})}"></li>
                <li th:text="#{catalog.isSpeaking(${dragon.isSpeaking()}?1:0)}"></li>
                <li th:text="#{catalog.movie(${dragon.getMovie()})}"></li>
                <li th:text="#{catalog.warden(${dragon.getWarden()})}"></li>
                <li th:text="#{catalog.prize(${dragon.getPrize()})}"></li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>