<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container">
    <div class="row">
        <div class="flip col-lg-6 dragon" onclick="flipCard($(this))" th:each="dragon: ${dragons}">
            <div class="card text-white">
                <div class="face front">
                    <img class="card-img-top" th:src="#{imageSrc(${dragon.getImageName()})}" width="100px" alt="Dragon image">
                    <div class="card-body">
                        <h1 class="card-title" th:text="${dragon.getName()}"></h1>
                        <h3 class="card-text" th:text="#{catalog.class(${dragon.getDragonClass()})}"></h3>
                        <h3 class="card-text" th:text="#{catalog.prize(${dragon.getPrize()})}"></h3>
                    </div>
                </div>
                <div class="face back">
                    <img class="card-img-top" th:src="#{imageSrc(${dragon.getImageName()})}" width="100px" alt="Dragon image">
                    <div class="card-body">
                        <h1 class="card-title" th:text="${dragon.getName()}"></h1>
                        <h3 class="card-text" th:text="#{catalog.class(${dragon.getDragonClass()})}"></h3>
                        <h3 class="card-text" th:text="#{catalog.prize(${dragon.getPrize()})}"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>