<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<header class="business-header contact"></header>
<div class="container">
    <div class="row">
        <div th:replace="fragments/contact :: div"></div>
        <div class="col-sm-8">
            <form class="form-horizontal custom-contact-form" method="post" th:action="@{/contact}" th:object="${mail}">
                <div class="form-group">
                    <label class="control-label col-sm-10" for="name" th:text="#{contact.name}"></label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{name}" class="form-control" id="name"
                               th:placeholder="#{contact.placeholder.name}"
                               required="required"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-10" for="email" th:text="#{contact.email}"></label>
                    <div class="col-sm-10">
                        <p th:errors="*{email}"></p>
                        <input type="text" th:field="*{email}" class="form-control" id="email"
                               th:placeholder="#{contact.placeholder.email}"
                               required="required"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-10" for="subject" th:text="#{contact.subject}"></label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{subject}" class="form-control" id="subject"
                               th:placeholder="#{contact.placeholder.subject}"
                               required="required"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-10" for="content" th:text="#{contact.content}"></label>
                    <div class="col-sm-10">
                        <textarea type="text" rows="6" th:field="*{content}" class="form-control" id="content"
                                  th:placeholder="#{contact.placeholder.content}"
                                  required="required">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" th:text="#{contact.send}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="map" style="width:100%; height:400px; margin-top: 24px">Map will go here</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</body>
</html>