<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container text-center">
    <p class="big-font" th:text="#{error.information}"></p>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>