<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container centered-container">
    <form th:action="@{/login}" method="post" class="form-signin custom-login-form">
        <h3 class="form-signin-heading" th:text="#{login.header}"></h3>
        <div class="form-group">
            <input type="text" id="email" name="email" th:placeholder="#{email}" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" th:placeholder="#{password}" class="form-control"/>
        </div>
        <p th:if="${param.error}" class="invalid-login" th:text="#{login.invalidLogin}"></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.login}"></button>
    </form>
    <form th:action="@{/registration}" method="get" class="register-button-form">
        <h3 th:text="#{login.accountQuestion}"></h3>
        <button class="btn btn-lg btn-warning btn-block" type="submit" th:text="#{registerButton}"></button>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>