<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<header class="business-header main"></header>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="mt-4" th:text="#{main.about}"></h2>
            <p th:text="#{main.first}"></p>
        </div>
        <div th:replace="fragments/contact :: div"></div>
    </div>
    <div class="row text-dark">
        <div class="col-sm-4 my-4" th:each="opinion: ${opinions}">
            <div class="card h-100">
                <div class="card-body">
                    <img th:src="#{imageSrc(${opinion.getImageName()})}" class="img-circle" alt="Avatar">
                    <span class="opinion-author">
                        <span th:text="${opinion.getName()}"></span>
                        <br>
                        <span th:text="'Smok: ' + ${opinion.getDragonName()}"></span>
                    </span>
                    <p class="card-text" th:text="${opinion.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
