<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container">
    <div class="row news" th:each="news : ${newsList}">
        <div class="col-md-4">
            <img class="img-fluid rounded" th:src="#{imageSrc(${news.getImageName()})}" alt="NewsImage">
        </div>
        <div class="col-md-8">
            <h2 th:text="${news.getTitle()}"></h2>
            <h5 th:text="${news.getDate()}"></h5>
            <p th:text="${news.getDescription()}"></p>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>