<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container centered-container">
    <form th:action="@{/registration}" th:object="${user}" method="post" class="form-horizontal custom-register-form">
        <h2 th:text="#{registration.header}"></h2>
        <div class="form-group">
            <input type="text" th:field="*{firstName}" th:placeholder="#{firstName}" class="form-control"/>
            <p th:errors="*{firstName}"></p>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{lastName}" th:placeholder="#{lastName}" class="form-control"/>
            <p th:errors="*{lastName}"></p>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{phoneNumber}" th:placeholder="#{phoneNumber}" class="form-control"/>
            <p th:errors="*{phoneNumber}"></p>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{email}" th:placeholder="#{email}" class="form-control"/>
            <p th:errors="*{email}"></p>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{password}" th:placeholder="#{password}" class="form-control"/>
            <div th:each="error: ${#fields.errors('password')}">
                <p th:each="message : ${error.split(',')}" class="error-message" th:text="${message}"></p>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block" th:text="#{registerButton}"></button>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>